.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.module {
  width: 90%;
  height: 200px;
  margin: 30px 0px;
  position: relative;
  border-radius: 3px;
  padding: 12px;
  box-sizing: padding-box;
  position: relative;
  border-right: 1px solid #1fa2ed;
  border-bottom: 1px solid #1fa2ed;
  border-left: 1px solid #1fa2ed;
}

.module__top {
  cursor: move;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.module__top::before {
  border-radius: 10px 0 0 0;
  content: "";
  flex: 2 0 0;
  height: 1px;
  border-top: 2px solid red;
}

.module__top::after {
  border-radius: 0px 20px 0 0;
  content: "";
  flex: 2 0 0;
  height: 1px;
  border-top: 2px solid red;
}

.top__content {
  color: #1fa2ed;
  font-weight: bold;
  margin-top: -11px;
  padding: 0px 20px;
}

.module__contents {
  background: #606060;
  height: 100%;
}